body {
	background: linear-gradient(lightskyblue, lightseagreen);
}

h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 3.5em;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.letterpmarker {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	color: white;
	text-shadow: -1px 0 navy, 0 1px navy, 1px 0 midnightblue, 0 -1px midnightblue;
}

h2 {
    color: white;
    text-shadow: 1px 1px 2px navy, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 1.7em;
    text-align: center;
    font-family: 'Lobster', cursive;
    margin: 0;
}

h3 {
    color: white;
    text-shadow: 1px 1px 2px navy, 0 0 25px white, 0 0 5px darkblue;
    font-size: 2em;
    text-align: center;
    font-family: 'Acme', cursive;
    margin: 0;
}

h4 {
    color: navy;
    font-size: 1.3em;
    text-align: center;
    /*text-shadow: 1px 1px 2px darkorange, 0 0 25px white, 0 0 5px red;*/
    font-family: 'Courgette', cursive;   
}

h5 {
    color: navy;
    font-size: 1.1em;
    text-align: center;
    /*text-shadow: 1px 1px 2px darkorange, 0 0 25px white, 0 0 5px red;*/
    /*font-family: 'Courgette', cursive;*/
}

a:link, a:visited {
    color: white;
}

a:hover, a:active {
    color: turquoise;
}

.Dblue:link, .Dblue:visited {
    color: cornflowerblue;
    /*text-shadow: none;*/
}
.Dblue:hover, .Dblue:active {
    color: turquoise;
}

.onedottwo {
    font-size: 1.2em;
}

.oneAndHalfWhite {
    color: white;
    font-size: 1.4em;
    text-align: justify;
    /*text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px black;*/
    /*font-family: 'Courgette', cursive;*/
}

.onedotlist {
    color: navy;
    font-size: 1.2em;
    text-align: left;
    text-shadow: none;
    /*text-shadow: 1px 1px 2px darkorange, 0 0 25px white, 0 0 5px red;*/
    /*font-family: 'Courgette', cursive;*/
}

.onedotlisthead {
    font-size: 1.2em;
    text-align: center;
}

.noPadOrMar {
    padding: 0;
    margin: 0;
}

.padMar3 {
    padding: 3px;
    margin: 3px;
}

/* Images on thumbwrap */
#thumbwrap {
    position:relative;
}

#thumbwrap2 {
    position:relative;
    display: inline-block;
}

.thumb img { 
    float:left;
    height: 45vh;
    width: 45vw;
}

.thumb span { 
    position:absolute;
    visibility:hidden;
    left: 0;
    bottom: 100%;
}

.thumb:hover, .thumb:hover span { 
    visibility:visible;
    /*left: calc( ( (100vw - 70%) / 2 ) );*/
    z-index:1;
}

/*Profile Image*/
.imgProf {
    /*display: block;*/
    margin: auto;
    width: 100%;
    border-radius: 40px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.imgLogo {
    /*display: block;*/
    margin: auto;
    width: 100%;
    border-radius: 8px;
}

.imgLogo2 {
    /*display: block;*/
    /*margin: auto;*/
    width: 100%;
    border-radius: 8px;
}

.imgLogoC {
    /*display: block;*/
    margin: auto;
    width: 100%;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
}

.modal-dialog .close {
  font-size: 4em;
  color: white;
}

.tJustify {
    text-align: justify;
}

.tCenter {
    text-align: center;
}

.overlay2 {
    position: inline-block;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
}

.panel.overlay2 {
    border-radius: 3%;
}

.panel {
    margin: 0;
    padding: 0;
    bottom: 0;
}

/* carousel fullscreen */
.carousel-fullscreen .carousel-inner .item {
    height: 92vh; 
    min-height: 500px; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

/* carousel fullscreen - vertically centered caption*/
.carousel-fullscreen .carousel-caption {
    top: 50%;  
    bottom: auto;
    transform: translate(0, -50%);
}

.carousel-caption {
    height: 100%;
    width: 80%;
    left: 11%;
    padding-top: 5px;
    padding-bottom: 0px;
    overflow-y: auto;
    overflow-x: auto;
    padding-right: 2em;
}

/* overlay for better readibility of the caption  */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    transition: all 0.2s ease-out;
}

#mycarousel {
    margin: 5px 0;
}

.super-heading {
    font-size: 70px; 
}

.super-paragraph {
    font-size: 30px; 
    font-weight: 300;
}

.carousel-fade .carousel-inner .item {
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
    /*width: 3em;*/
}

/*This Section for customized indicators*/

#mycarousel .carousel-indicators {
    /*margin-bottom: -15px;*/
    top: 0;
    position: relative;
    height: 8px;
    /*margin-top: 1em;*/
}

#mycarousel .carousel-indicators li {
    background-color: transparent;
    /*border-radius: 0;*/
    border: none;
    display: inline-block;
    height: auto;
    margin: 0;
    width: auto;
}

#mycarousel .carousel-indicators li button {
    display: block;
}

.btn-primary {
    border: 2px solid royalblue;
    border-radius: 40px;
    transition: all 0.3s ease 0s;
    top: 0;
}

.btn-primary:hover {
  color: darkblue;
  background: lightblue;
  border: 2px solid royalblue;
}
